
body {
    font-family: "Baskerville", "Helvetica",Calibri,Arial,sans-serif;
    abackground-color: #512121;
    abackground-color: rgba(81, 33, 33, 1);
    background-color: rgba(91, 43, 43, 1);
    color:  rgba(235, 183, 165, 0.5);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-position: 0px 0px;
	background-repeat: repeat-x;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

body, html {
	height: 100%;
	margin: 0px;
    padding: 0px;
}

.logo_title {
  height: 90px;
  width: 800px;
  margin-top: 40px;
  background: url("../images/logo_title.svg") no-repeat scroll 0% 0% transparent;
}


.container {
	height: 100%;
  min-width: 1000px;
    abackground-color: rgba(0,0,0,0.2);
    margin-left: 5px;
    margin-right: 5px;
}

.container > div#toolbar {
  aborder: 1px solid rgba(255, 255, 255, 0.04);
}

.container > article {
	height: 74%;
	min-height: 650px;

}

.images-copyright {
	height: 20;
	min-height: 10px;
    text-align: center;
    line-height: 1;
        margin-right: 60px;
}

.images-copyright-inner{
	float: right;
    padding-top: 5px;
	font-size: 10px;
    acolor: #884949;
    background-position: 0px 0px;
    font-size: 10px;
}



.container > footer {
	height: 6%;
	min-height: 10px;
    text-align: center;
    line-height: 1;
	background-image: url("../images/line.png");
	background-repeat: repeat-x;
}

.container > article {
    height: 74%;
    min-height: 600px;
}


#model-status-container,
.container > article,
.container > footer,
.container > header,
.container > div#toolbar {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.container > header {
	height: 20%;
	min-height: 190px;
  background-position: 0px 90%;
	abackground-image: url("../images/line.png");
	background-repeat: repeat-x;
}
.container_logo_col {
  aborder: 1px solid red;
  width: 50px;
  float:left;
}

.container_content_col {
  aborder: 1px solid red;
  min-width: 900px;
  float:left;
}


.header-info {
    text-align: center;
    vertical-align: bottom;
    display: inline-block;
    width: 940px;
    position: relative;
    padding-top: 20px;
}

.active_model {
  height: 175px;
  width: 300px;
  aborder: 1px solid red;
  padding-left: 60px;
}

.project {
  margin-top: 5px;
  margin-left:5px;
  float: left;
  width: 152px;
  aborder: 1px solid;
}

.project_label {
  margin-top: 8px;
  margin-left: 10px;
  float: left;
  min-width: 400px;
}

.copy-footer {
    padding-top: 10px;
	font-size: 10px;
	font-family: "Arial";
    color: #884949;
    background-position: 0px 0px;
    font-size: 12px;
}


#model_performance {
	  min-height: 200px;
	  width: 800px;
	  margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 10px;
	  apadding-left: 15px;
	  apadding-right: 5px;
    border-radius: 0px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box;
    abox-shadow: 0 8px 4px -4px rgba(44,12,12,0.5);

    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    background: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    background-color: rgba(81, 33, 33, 1);
    padding: 10px;
}

.browser_section_title {
    width: 800px;
    margin-top: 0px;
    margin-left: 60px;
    amargin-bottom: 10px;
    apadding: 10px;
  font-size: 12px;
      aborder: 1px solid rgba(255, 255, 255, 1.04);

}

.browser_section_hline {
    width: 820px;
    height: 10px;
    margin-top: 0px;
    margin-left: 60px;
    font-size: 12px;
    aborder: 1px solid rgba(255, 255, 255, 1.04);
}

.image_sets {
/*    min-height: 200px;
    min-width: 920px; 
    margin-left: 60px; 
*/
    width: 820px;
    height: 250px;
    margin-top: 0px;
    margin-left: 60px;
    margin-bottom: 0px;
    apadding: 10px;
  font-size: 12px;
      aborder: 1px solid rgba(255, 255, 255, 1.04);

}

.image_sets_separator {
  width: 0px;
  min-height: 200px;
  float: left;
}


.action_button {
  background: rgba(255,0,0, 0.35);
}

.xlabel,
.ylabel {
  float: left;
  height: 200px;
  width: 20px;
  aborder: 1px solid green;
}

.ylabel {
  height: 200px;
  padding-right: 5px;
  amargin-left: 30px;

}

.ylabel svg {
  height: 150px;
  aborder: 1px solid yellow;
}

.xlabel {
  aborder: 1px solid red;
  awidth: 762px;
  height: 200px;
  height: 190px;
  width: 775px;
}

/*.lengend {
  width: 50px;
  height: 180px;
}*/


#chart_container {
  width: 660px;
}


#chart_label {
  height: 20px;
  aborder: 1px solid yellow;
  color: rgba(235, 183, 165, 0.5);
  text-align: center;
  padding-top: 0px;
  font-size: 12px;
}

.chart {
  float: left;
  aborder: 1px solid red;
  width: 675px;
  height: 180px;
}


.chart_info {
  float: left;
  aborder: 1px solid green;
  width: 100px;
  height: 180px;
}

#chart_legend {
  aborder: 1px solid green;
  width: 100px;
  height: 60px;
}

#chart_legend ul {
    /*list-style: inside none none;
    font-size: 12px;
    afont-weight: 300;
    padding: 10px;
    padding-left: 0px;*/

    alist-style: none;
padding:0;
margin-top: 20px;
    margin-left: 15px;
}

#chart_legend li:before {
    mcontent: "•";
    mcolor: red; /* or whatever color you prefer */
}


#chart_legend li {
  apadding-bottom: 5px;
  adisplay: block;
  afloat: left;
  width: 100px;
  aborder: 1px solid green;
}

#chart_legend li span {
  awidth: 95px;
  adisplay: block;
  color: rgba(235, 183, 165, 0.5);
  padding: 2px;
  opacity: 0.75;
  background-color: none;
  font-size: 12px;
}

#chart_options{
  aborder: 1px solid red;
  margin-top: 5px;
  width: 50px;
  height: 80px;
}
/*
.xlabel canvas {
  padding-left: 5px;
  padding-bottom: 5px;
  aborder: 1px solid rgba(255,255,255,0.095);
  aborder-left: 1px solid rgba(255,255,255,0.095);
  aborder-bottom: 1px solid rgba(255,255,255,0.095);
}*/


/*#active_model_status div {
  afloat: left;
  border: 1px solid red;
}

#active_model_status div:nth-child(1) {
  margin-right: 10px;
}
#active_model_status div:nth-child(2) {
  float: left;
}
#active_model_status div:nth-child(3) {
  float: left;
}*/
/*:nth-child(2)*/



.tools {
  float: left;
  width: 350px;
}

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#status_not_learned,
#status_learned_high,
#status_learned_low,
#status_learning {
  height: 3px;
  float: left;
}

#model-status-table {
	height: 1px;
	width: 100%;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
}


#model-status {
  margin-top: 5px;
  min-width: 940px;
  margin-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#model-status-inner {
	width: 100%;
	aheight: 6px;
	height: 5px;
	abackground-color: green;
	border: 0px solid black;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.054);
  background-image: url(../images/module_light.png);
}



.legend ul {
float:left;
padding: 0px;
margin:0px;
}

.legend table tr td {
	border: 0px solid red;
	font-size: 12px;

}

.legend table tr td span i {
	font-size: 1.8em;
}

.legend-column {
	float:left;
	padding-left: 0px;
}

.legend li.wp-orange,
.legend li.wp-green,
.legend li.wp-light-blue,
.legend li.wp-grey
 {
 	list-style-type: none;
	word-wrap: break-word;
	position: relative;
	width: 15px;
	height: 15px;
	text-align: center;
	transition: border 0.5s ease 0s;
	border-radius: 4px;
	margin-bottom: 8px;
	-webkit-transition: border .5s;
	-moz-transition: border .5s;
	-o-transition: border .5s;
	-ms-transition: border .5s;
	transition: border .5s;
	border-radius: 4px;
	margin-bottom: 8px;
 	font-size: 10px;

}

#toolbar-table {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
	border: 0px solid red;
	height: 40px;
  amin-width: 940px;
  width: 364px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:260px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  background: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
}

#legend-table {
  margin-left: 20px;
}

#toolbar {
  /*background-color: rgba(255, 255, 255, 0.054);
  background-image: url(../images/module_light.png);*/
}

#toolbar div.help {
  float: left;
    top: 50%;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    background: url("../images/help.svg") no-repeat scroll 0% 0% transparent;
}

#toolbar div.browser {
  float: left;
    height: 40px;
    width: 40px;
    background: url("../images/browser_on.svg") no-repeat scroll 0% 0% transparent;
}

#toolbar div.line svgline {
    float: left;
    height: 40px;
    width: 11px;
    background-color: rgba(255, 255, 255, 0.054);
}


#toolbar div.prev {
    float: left;
    top: 50%;
    margin-left: 15px;
    height: 40px;
    width: 40px;
    amargin-top: -20px;
    background: url("../images/arrow_left.svg") no-repeat scroll 0% 0% transparent;
}
#toolbar div.next {
    float: left;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    background: url("../images/arrow_right.svg") no-repeat scroll 0% 0% transparent;
}

#toolbar div.help:hover,
#toolbar div.help:active{background: url("../images/help_on.svg") no-repeat scroll 0% 0% transparent;}

#toolbar div.next:hover,
#toolbar div.next:active{background: url("../images/arrow_right_on.svg") no-repeat scroll 0% 0% transparent;}


#toolbar div.prev:hover,
#toolbar div.prev:active{background: url("../images/arrow_left_on.svg") no-repeat scroll 0% 0% transparent;}

.active_project {
  float: right;
  margin-right: 20px;
  margin-top: 10px;

}

.legend {
    margin-left: 60px;
    padding-left: 0px;
}


/*---------------- image-grid-column ----------------*/

.image-grid {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
	  /*min-height: 200px;
    border: 1px solid green;*/
    afloat: left;
	  width: 388px;
    height: 200px;
	  /*margin-top: 5px;
	  padding-left: 15px;
	  padding-right: 5px;
    border-radius: 0px;*/
    /*background: url("../images/module_light.png") repeat scroll 0px 0px padding-box;*/
    abox-shadow: 0 8px 4px -4px rgba(44,12,12,0.5);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 4px;
    background: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    background-color: rgba(81, 33, 33, 1);

}

.images_navigation {
  width: 300px;
  height: 30px;
  padding-left: 150px;

}


.training_images_container {
    min-height: 200px;
    width: 410px;
    float:left;
    aborder: 1px solid;

}

.validation_images_container {
    margin-left: 2px;
    min-height: 200px;
    width: 400px;
    float:left;
    aborder: 1px solid;

}

.images_container_title {
    width: 400px;
    height: 15px;
    margin-bottom: 0px;
    font-size: 12px;
}

/*.training_images_container {
    min-height: 200px;
    width: 410px;
    float:left;
    aborder: 1px solid;

}


.validation_images_container {
    min-height: 200px;
    width: 410px;
    float:left;
    aborder: 1px solid;
}*/



.images_nav_left {
  aborder: 1px solid yellow;
  width: 58px;
  float: left;
  apadding-top:75px;
}

.images_nav_right {
  aborder: 1px solid yellow;
  width: 58px;
  float: left;
  apadding-top:75px;
}

.prev_images_button {
  background: url("../images/arrow_left.svg") no-repeat scroll 0% 0% rgba(255,183,165,0.0);
}

.next_images_button {
  background: url("../images/arrow_right.svg") no-repeat scroll 0% 0% rgba(255,183,165,0.0);
}

.prev_images_button:hover {
  background: url("../images/arrow_left_on.svg") no-repeat scroll 0% 0% rgba(255,183,165,0.0);
}

.next_images_button:hover {
  background: url("../images/arrow_right_on.svg") no-repeat scroll 0% 0% rgba(255,183,165,0.0);
}

.next_images_button,
.prev_images_button {
  border: 0px solid rgba(255, 255, 255, 0.0);
  height: 30px;
  width: 30px;
  margin: 0px;
  padding: 0px;
}

/*<div style="padding-top:75px;height:125px;width:60px;">
  <div style="margin-left:auto;margin-right:auto;width:50px;height:50px;"></div>
</div>*/
/*
.prev_images_button:hover,
.next_images_button:hover {
    border: 1px solid rgba(255, 255, 255, 1.0);
}

.prev_images_button:active,
.next_images_button:active {
    border: 1px solid rgba(255, 255, 255, 0.750);
}*/

.image-grid-column {
    float: left;
    min-width: 90px;
    margin-left: 0px;
    position: relative;
    display: inline-block;
    padding: 5px;
}

.image-grid-column li {
	position: relative;
	width: 100%;
  height: 31px;
	text-align: center;
  margin-top: 5px;
}

.image-grid-column a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  height: 30px;
  width: 117px;
}

.image-grid-column ul {
    list-style: inside none none;
    font-size: 10px;
    font-weight: 300;
    padding: 0px;
}

.image-grid-column li a {
  border: 1px solid rgba(255,255,255,0.01);
}

.image-grid-column li a:hover {
  border: 1px solid rgba(255,255,255,0.51);
}

.image-grid-column li img {
  acolor: rgba(249, 249, 249, .5);
  float: left;
  height: 20px;
  width: 20px;
  padding-top: 5px;
}

.image-grid-column li p {
  color: rgba(249, 249, 249, .75);
  font-size: 11px;
}

.image-grid-column li span {
    display: block;
    padding-top: 0px;
}

/* Hover effect for the whole navigation to make the hovered item stand out */
.image-grid-column ul:hover a {
	color: rgba(249, 249, 249, .5);
}

.image-grid-column ul:hover a:hover {
	color: rgba(249, 249, 249, 0.99);
}

#status_learning,
.legend li.wp-light-blue,
.image-grid-column li.wp-light-blue {background: #65ACC3;}

#status_not_learned,
.legend li.wp-grey,
.image-grid-column li.wp-grey {background: #464646;}

.legend li.wp-blue,
.image-grid-column li.wp-blue {background: #21759B;}

#status_learned_low,
.legend li.wp-orange,
.image-grid-column li.wp-orange {background: #D54E21;}

#status_learned_high,
.legend li.wp-green,
.image-grid-column li.wp-green {background: #66AC32;}

/*---------------- image-grid-column ----------------*/
